<div class="middleOfThePage">
  <div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
      <formly-form
        [model]="formModel"
        [fields]="formFields"
        [form]="signupForm"
      >
      </formly-form>
    </form>

  </div>
</div>

