.middleOfThePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::ng-deep {
  .form-row {
    display: flex;
    flex-direction: row;

    //flex: 1;
    //padding: 5px;
    //border: aquamarine;
  }

  .form-row-item {
    width: 90%;
    padding: 5px;
    display: flex;
    flex: 1;
  }
  formly-wrapper-mat-form-field {
    width: 100%;
  }
}
/*
.form-row {
  display: flex;
  flex-direction: row;

  //flex: 1;
  //padding: 5px;
  //border: aquamarine;
}

.form-row-item {
  width: 90%;
  padding: 5px;
  display: flex;
  flex: 1;
}
*/

