<div class="container">
 <form [formGroup]="simpleFormOne" (ngSubmit)="onSubmit(simpleFormOne)">
    <formly-form
      [model]="formModel"
      [fields]="formFields"
      [form]="simpleFormOne"
    >
    </formly-form>
   <div class="button-row">
     <button mat-stroked-button type="reset">Reset</button>
     <button mat-raised-button color="primary">Submit</button>
   </div>

  </form>

</div>
